section {
  padding-bottom: 18px;
}

.info-banner {
  padding: 70px 18px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  row-gap: 32px;

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    padding: 60px 18px;
  }
}

.image-container {
  flex: 1 1 40%;
}

.info-container {
  flex: 1 0 55%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

.banner-title {
  color: var(--color-dark-grey);
  max-width: 600px;
}

.banner-text {
  color: var(--color-grey);
  max-width: 600px;
}

img {
  max-width: 440px;
  width: 100%;

  @media screen and (max-width: 768px) {
    max-width: 300px;
  }
}
