<section class="">
  <div class="text-container">
    <h3 class="text-headline-1 text-color-black">
      Pellentesque suscipit fringilla libero eu.
    </h3>
  </div>
  <div class="button-container">
    <a id="get-demo-link" href="#get-a-demo" class="button-standard-primary button-standard-size-normal get-demo-btn">
      <p class="text-body-2 text-medium text-color-white">Get a Demo</p>
      <img
        class="link-image"
        src="assets/icons/arrows-directions/Right-white.webp"
        alt="Right"
      />
    </a>
  </div>
</section>
